.outer:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.inner {
    display: inline-block;
    vertical-align: middle;
}

.outer {
    text-align: center;
    height: 100%;
    width: 100%;
}
.header-row {
    height: 50%;
    background-color: rgba(255,0,0,0.1);
}
.bottom-row {
    height: 50%;
    background-color: rgba(255,0,0,0.1);
}
body {
    height: 100%;
    width: 100%;
    position: absolute;
}
.mono-block {
    background-color: rgba(0,0,0,0);
}

#time, #weekday {
    font-family: Helvetica;
    font-size: 6em;
    font-style: normal;
    font-weight: bold;
}
#time, #weekday {
    font-family: Helvetica;
    font-size: 6em;
    font-style: normal;
    font-weight: bold;
}
.weather_block  {
    font-family: Helvetica;
    font-size: 6em;
    font-style: normal;
    font-weight: bold;
}


